<!DOCTYPE html>
  <html ng-app="gameFinder">
    <head>
      <title>Game Search</title>
      <link rel="stylesheet" href="css/style.css"></link>
    </head>
    <body ng-controller="gameCtrl">
      <time-directive time="time"></time-directive>
      <div class="container">
        <div class="navbar">
          <a ui-sref="gameList"><div ng-click="getGameList()" class="game-nav"><css-directive>Recent Games</css-directive></div></a>
          <a ui-sref="home"><div  class="home-nav"><css-directive>Home</css-directive></div></a>
          <a ui-sref="videoList"><div class="video-nav" ng-click="getVideoList()"><css-directive>Recent Videos</css-directive></div></a>
          <a ui-sref="reviewList"><div class="review-nav" ng-click="getReviewList()"><css-directive>Recent Reviews</css-directive></div></a>
          <a ui-sref="promoList"><div class="promo-nav" ng-click="getPromoList()"><css-directive>Recent Promos</css-directive></div></a>
          <form>
            <input class="searchbar" type="text" placeholder="Search for games!" ng-model="search"></input>
            <button type="submit" class="submit-button" ng-click="getSearchList()">SUBMIT</button>
          </form>
        </div>
        <div class="content">
          <ui-view></ui-view>
        </div>
      </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
    <script src="js/app.js"></script>
    <script src="js/gameCtrl.js"></script>
    <script src="js/homeCtrl.js"></script>
    <script src="js/gameService.js"></script>
    <script src="js/timeDirective.js"></script>
    <script src="js/cssDirective.js"></script>
  </html>
