<link rel="stylesheet" href="../css/style.css">
<div class="home-sheet" ng-style="{'text-align': 'center'}">
  <div class="home-title"><h1>Home</h1></div>
  <div class="home-body">
    <p>This site uses an api pulling from <a href="http://www.giantbomb.com">Giantbomb.com</a>. When clicked, each tab will make an api request that takes all content published two weeks ago up to today. The search function at the top of the navbar is neutral to date and will simply search the entire site.</p>
    <p>You can use this site to keep current on your game news, find new games, or as a third-party search for giantbomb.com. Have fun!
  </div>
</div>
