
<div>
  <input type="text" class="recentreviewsfilter" ng-model="recentReviewsFilter" placeholder="Filter By Name" ng-style="{'background': 'url(../img/keyIcon.png)', 'border-radius': '10px', 'box-shadow': '0 1px 2px rgba(0,0,0,0.2) inset, 0 -1px 0 rgba(0,0,0,0.05) inset', 'transition': 'all 0.2s linear', 'font-size': '13px', 'color': '#fcfcfc', 'padding-left': '5px'}">
  <div class="content-text" ng-repeat="review in reviewList | filter: {deck: recentReviewsFilter}">
    <h1 ng-style="{'border-top': 'solid white 3px'}"><a href="{{review.site_detail_url}}">{{review.deck}}</a></h1>
    <p>{{review.publish_date.slice(0, 10)}}</p>
    <p>{{review.platforms}}<p>
  </div>
</div>
